body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #E1704B;
    transition: color 0.5s ease;
}

a:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
}

.filter {
    margin-top: 6px;
}

.strike {
    text-decoration: line-through;
}

.header-elements-margin {
    margin: 5px;
}

.add-task {
    margin-top: 10px;
}

.nav-button-margin {
    margin: 10px 20px 0 0;
}

.navbar {
    border-radius: 0;
    background: #438EB9;
    color: #fff;
}

.navbar .navbar-brand {
    color: #FFF;
    font-size: 24px;
    text-shadow: none;
}

.form-search > div > input, .form-search > input, .form-search > div > button {
    height: 50px;
    border-radius: 0px;
}

.form-search > div > button {
    width: 50px;
    font-size: 24px;
}

.movie-details {
    border: 1px solid;
    padding: 10px;
}

.no-movie-txt {
    text-align: center;
    font-size: 24px;
}