<html ng-app="myMovies">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>

<div class="navbar navbar-default" id="navbar">
    <div class="container" id="navbar-container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-hd-video"></i>
                    Search Movies
                </small>
            </a><!-- /.brand -->

        </div>
        <!-- /.navbar-header -->
    </div>
</div>
<div class="row">
    <div class="container" ng-controller="searchMoviesController">
        <div class="col-sm-12">
            <form class="form-search">
                <br><br>

                <div class="col-sm-5 form-group">
                    <input type="text" ng-model="selectedMovie" placeholder="Search Movie"
                           class="form-control">
                </div>
                <div class="col-sm-5 form-group">
                    <input type="text" ng-model="selectedYear" placeholder="2015"
                           class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <button class="btn btn-default" ng-click="getCountries()">
                        <i class="icon-search glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="panel col-sm-12" ng-show="noMovieFound">
            <p class="no-movie-txt">No Movie Found !</p>
        </div>
        <div class="panel col-sm-12" ng-show="movieList">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Movie Title</th>
                    <th>Movie Year</th>
                    <th>Released Date</th>
                    <th>Movie Rating</th>
                    <th>Select</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr ng-repeat="item in movies">-->
                <tr>
                    <td>{{movies.Title}}</td>
                    <td>{{movies.Year}}</td>
                    <td>{{movies.Released}}</td>
                    <td>{{movies.Rated}}</td>
                    <td>
                        <div class="btnEdit-wrapper" ng-if="movies.Title">
                            <button type="button" class="btn btn-default" ng-click="selectFunction(item)">Select
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel col-sm-12 movie-details" ng-show="isDetails">
            <div class="col-sm-4">
                <img style="width: 100%;height: auto;" src="{{movies.Poster}}">
            </div>
            <div class="col-sm-8">
                <h2>{{movies.Title}}</h2>

                <p><label><i>{{movies.Released}}</i><label></p>

                <p>{{movies.Genre}}</p>

                <p>{{movies.Plot}}</p><br>

                <p><label>Actors :</label> {{movies.Actors}}</p>

                <p><label>Writer :</label> {{movies.Writer}}</p>

                <p><label>Director :</label> {{movies.Director}}</p><br>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.9.0.js"></script>
<script type="text/javascript" src="app/app.js"></script>
</body>
</html>
